PORT=5002

REDIS_URI=redis://localhost:6379

CHROMA_DB_HOST=localhost
CHROMA_DB_PORT=8000

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=supportpilot-fastapi-agent

GROQ_API_KEY=

ENABLE_TRACING=true
PHOENIX_TRACING_URL=http://localhost:4317

BACKEND_BASE_URL=http://127.0.0.1:5001
